.todo-input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}
.add-task {
    background-color: rgb(6, 132, 6);
    margin-left: 55%;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
